# https
RewriteCond %{HTTPS} =off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [QSA,L]

# www to not www
RewriteCond %{HTTP_HOST} ^www.de-pa\.by$ [NC]
RewriteRule ^(.*)$ https://de-pa.by/$1 [R=301,L]

# Ignore folder /api/
RewriteRule ^(admin|api)($|/) - [L]

# For SPA react 
Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]
