.Breadcrumbs
{
    background-color: #f7f7f7;
    padding: 16px 0;
}

.Breadcrumbs span
{
    text-decoration: none;
    color: var(--depaby_color);
}

.Breadcrumbs span:hover
{
    cursor: pointer;
}

.Breadcrumbs span::after
{
    color: black;
    content: ' / ';
}

.Breadcrumbs span:last-child
{
    color: grey
}

.Breadcrumbs span:last-child::after
{
    content: '';
}

.Breadcrumbs span:last-child:hover
{
    cursor:default
}
