.Nav
{
    border-bottom: 1px solid grey;
}

.Nav ul
{
    margin: 0;
    padding: 0;
    display: flex;
    z-index: 2;
}

.Nav ul li
{
    list-style-type: none;
    position: relative;
}

.Nav ul li a,
.Nav ul li span,
.Nav ul li label
{
    text-decoration: none;
    display: block;
    padding: 8px;
    color: #06c;
}

.Nav ul li a:hover,
.Nav ul li span:hover,
.Nav ul li label:hover
{
    background-color: #06c;
    color: white;
}

/* sub menu */
.Nav ul ul
{
    display: none;
}

.Nav ul li:hover ul 
{
    display: block;
    position: absolute;
    background-color: white;
    width: 300px;
    border: 1px solid #06c;
}
