/* img */
.product__img_wrapper
{
    text-align: center;
}

.product__img
{
    max-width: 500px;
    max-height: 500px;
}

.product__img img
{
    max-height: 100%;
    max-width: 100%;
}
/* end img */


/* basket */
.product__basket
{
    text-align: center;
}

.product__basket input {
    width: 120px;
    border-radius: 4px;
    border: 2px solid var(--depaby_color);
    font-weight: bolder;
    color: var(--depaby_color);
    padding: 8px;
}
/* end basket */


/* table */
.product_data table
{
    margin-bottom: 8px;
}

.product_data table tr td:first-child
{
    font-weight: bolder;
}
/* end table */
