.Products__get
{
    height: 100%;
    overflow-y: hidden;
}

.Products__get table
{
    width: 100%;
    height: 100%;
    display: block;
    overflow-x: scroll;
    overflow-y: scroll;
    margin: 0;
}
